# Maven
target/
*.ser
*.ec

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# Eclipse
.classpath
.project
.settings/
.metadata/

# OS X
.DS_Store

# Tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

assets/cover_letters/*
assets/resume/*
!assets/resume/CampA_resume.pdf
assets/cover_letter.md
